#lattices-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;
}

#lattices-container img {
    transition: transform 0.5s;
}

#lattices-container img:hover {
    transform: scale(1.25);
}

#lattices-container button {
    background-color: var(--accent-color);
    border-radius: 2%;
}

#lattices-container button:focus {
    outline: none;
    box-shadow: none;
}
