:root {
    --background-color: white;
    --accent-color: #f8f8f8; 
}
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
}
.page-header #main-title {
    text-shadow: 1px 1px 1px rgb(58, 183, 255);
}

.page-content {
    position: relative;
    margin-top: 75px;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 100px;
}

.navbar {
    background-color: var(--accent-color);
}

.navbar-toggle .icon-bar{ background-color: black;}

#how-to-use {
    padding: 10px;
    border: 1px solid #eee;
    background-color: var(--accent-color);
}
