#lattices-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}

#lattices-container button:focus {
    outline: none;
    box-shadow: none;
}

#submit-button:focus {
    outline: none;
    box-shadow: none;
}

.lattice-choice img {
    transition: transform 0.5s;
    width: 60%;
    height: 60%;
}

#select {
    display: flex;
    justify-content: space-between;
}


.lattice-choice img:hover { transform: scale(1.25); }

.lattice-choice button {
    background-color: var(--accent-color);
    border-radius: 2%;
    width: 100%;
    height: 100%;
}

.lattice-choice { width: 40%; }

.lattice-label .apc { font-weight: normal; }

.radio-input { visibility: hidden; }

