{% extends 'base.html' %}

{% block content %}
    <div class="page-content">
        <div class="page-header">
            <h1>Hexagonal Lattice Orbital Configuration</h1>
        </div>

        <img class="img-thumbnail" src="../../static/images/HexagonalLattice.png" alt="Hexagonal Lattice" width="250" height="250">
        <br>

        <form class="orbital-config" method="POST">
            {% set labels = ["Transition Metal", "Transition Metal"] %}
            {% set autos = ["d", "d"] %}
            {% for i in range(2) %}
                {% include '_atomConfig.html' %}
            {% endfor %}
        </form>
    </div>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/orbitalconfig.css')}}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{url_for('static', filename='javascript/orbitalconfig.js')}}"></script>
{% endblock %}