{% extends 'base.html' %}

{% block content %}
    <div class="page-content">
        <div class="page-header">
            <h1>Lieb Lattice Orbital Configuration</h1>
        </div>

        <img src="../../static/images/LiebLattice.png" alt="Lieb Lattice" width="250" height="250">
        <br>

        <form class="orbital-config">
            {% set labels = ["Transition Metal", "Ligand", "Ligand"] %}
            {% set autos = ["d", "p", "p"] %}
            {% for i in range(3) %}
                {% include '_atomConfig.html' %}
            {% endfor %}
        </form>
    </div>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/orbitalconfig.css')}}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{url_for('static', filename='javascript/orbitalconfig.js')}}"></script>
{% endblock %}