{% extends 'base.html' %}

{% block app_content %}
    <div class="page-content">
        <div class="page-header">
            <h1>Lieb Lattice Orbital Configuration</h1>
        </div>

        <img class="img-thumbnail" src="../../static/images/LiebLattice.png" alt="Lieb Lattice" width="250" height="250">

        <form class="orbital-config" method="POST">
            <h2>ARPES Parameters</h2>
            {% include '_arpes_params.html' %}

            <h2>Other Parameters</h2>
            <div class="orbital-selection">
                {% set labels,autos = ["Transition Metal","Ligand","Ligand"],["d","p","p"] %}
                {% for i in range(3) %}
                    {% include '_atomConfig.html' %}
                {% endfor %}
            </div>
            {% include '_other_params.html' %}

            <input class="btn" type="submit" value="submit">
        </form>
    </div>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/orbitalconfig.css')}}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{url_for('static', filename='javascript/orbitalconfig.js')}}"></script>
{% endblock %}