<!-- lattice choice subtemplate  -->
<div class="{{ lattice.type }} lattice-choice">
    <button type="button" class="btn lattice-button" id="{{ lattice.type }}-button">
        <img src="static/images/{{ lattice.image }}" alt="{{ lattice.label }}" width="250" height="250">
        <div class="lattice-label">
            <input class="radio-input" type="radio" id="{{ lattice.type }}-radio" name="lattices" value="{{ lattice.type }}">
            <label for="{{ lattice.type }}-radio">{{ lattice.label }}</label>
            <p>({% if lattice.apc == 1 %}1 atom per cell{% else %}{{lattice.apc}} atoms per cell{% endif %})</p>
        </div>
    </button>
</div>
