<div class="basic-params">
    <b>Hybridizations:</b>
    <p>
        V<sub>pdσ</sub> [eV]:
        <input type="float" name="hybrid-1" id="seventeenth" value="0.5">
    </p>
    <p>
        V<sub>pdπ</sub> [eV]:
        <input type="float" name="hybrid-2" id="eighteenth" value="0.25">
    </p>
    <p>
        V<sub>ppσ</sub> [eV]:
        <input type="float" name="hybrid-3" id="nineteenth" value="0.1">
    </p>
    <p>
        V<sub>ppπ</sub> [eV]:
        <input type="float" name="hybrid-4" id="twentieth" value="0.05">
    </p>
    <div>
        <label for="coupling">Transition metal spin-orbit coupling [eV]: </label>
        <input type="number" id="coupling" name="coupling" value=0.01 required>
    </div>
</div>